*{
	margin: 0px;
	padding: 0px;
}
body{
	background: url(helping.jpg);
	background-size: 100%;
}
.title{
	padding-top: 50px;
	width: 100%;
	font-size: 200%;
	color: white;
	border: 1 px solid;
}
.header{
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: transparent;
	text-align: center;
	border: 1px solid black;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.taskmenu{
	width: 100%;
	margin: 30px auto 0px;
	color: white;
	background: transparent;
	text-align: center;
	border-bottom: none;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
}
ul{
	border-radius: 10px 10px 10px 10px;
	background: transparent;
}


a{
	border-radius: 10px 10px 10px 10px;
	font-style: arial;
	font-size: 30px;
}

ul li
{
	//background: white;
	display: inline-block;
	width: 17%;
	line-height: 40px;
	color: white;
}


a:link {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


.content{
	text-align: left;
}
form {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid black;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px solid gray;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}